body {
  box-sizing: 0;
  margin: 0;
  background: thistle;
}

#header {
  display: flex;
  justify-content: center;
}

body #header-img {
  width: 8em;
  padding-top: 1.6em;
  padding-right: 4em;
}

body #plus-logo {
  width: 3.5em;
  padding-top: 3em;
}

body #barber-logo {
  width: 8.8em;
  padding-top: .8em;
  padding-left: 1.2em;
}

body #navigation-div ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  margin-bottom: 0;
}

body #navigation li {
  
  padding: 4em 0;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.5em;
  
}

body #body-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

body #body-div #fname {
  border: 2px solid red;
  border-radius: 4px;
  width: 25em;
  padding: 1.5em 1.5em;
}

body #body-div #address {
  border: 2px solid red;
  border-radius: 4px;
  width: 25em;
  padding: 1.5em 1.5em;
}

body #body-div #email {
  border: 2px solid red;
  border-radius: 4px;
  width: 25em;
  padding: 1.5em 1.5em;
}

body #body-div #phone-number {
  border: 2px solid red;
  border-radius: 4px;
  width: 25em;
  padding: 1.5em 1.5em;
}

body #body-div #message {
  border: 2px solid red;
  border-radius: 4px;
  width: 25em;
  padding: 1.5em 1.5em;

}