body {
  box-sizing: border-box;
  margin: 0;
  background: darkgrey;
}

#header {
  display: flex;
  justify-content: center;
}

body #header-img {
  width: 8em;
  padding-top: 1.6em;
  padding-right: 4em;
}

body #plus-logo {
  width: 3.5em;
  padding-top: 3em;
}

body #barber-logo {
  width: 8.8em;
  padding-top: .8em;
  padding-left: 1.2em;
}

body #navigation-div ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  margin-bottom: 0;
}

body #navigation-div #title-div {
  display: flex;
  justify-content: center;
}

body #navigation li {
  
  padding:4em 0;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.5em;
  
}

body #bio-div {
  display: flex;
  justify-content: center;
}

body #bio-div #bio-img {
  width: 28em;
}

body #article-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

 body #article-div p{
   width: 24%;
 }

body h3 {
  text-align: center;
}

.footer_mp {
  height: 12em ;
  /*border: 3px solid purple;*/
  align-content: center;
  background-image: url(./background-img1.jpeg);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 
}

.footer_mp #facebook_icon {
  width: 6em;
}

